#nur{
    text-align: center;
    background-color: rgb(138, 138, 201);
}
#nuri{
    background-color: red;
    text-align: center;
    color: black;
}
#zokir{
    background-color: green;
    text-align: center;
    color: black;
}
#said{
    background-color: blueviolet;
    text-align: center;
    color: black;
}